.selected-pills-container {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.pill-required {
  background-color: #dbeafe !important;
  color: #1e40af !important;
  cursor: not-allowed;
}
