{% extends 'base.html' %}
{% block titulo2 %} Disponibilidad de salas {% endblock %}
{% block content %}
<div class="container mt-4">
    <h3>Gestión de Salas</h3>

    <!-- Formulario para crear sala -->
    <form method="POST" class="mb-4">
        <input type="hidden" name="accion" value="crear">
        <div class="mb-2">
            <label for="numero_sala">Número de sala:</label>
            <input type="text" name="numero_sala" id="numero_sala" class="form-control" pattern="\d{3}" maxlength="3" required title="Debe tener 3 dígitos numéricos">
        </div>

        <div class="mb-2">
            <label for="alias_sala">Alias de la nueva sala:</label>
            <input type="text" name="nombre_sala" id="alias_sala" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-success">Crear Sala</button>
    </form>

    <hr>

    <!-- Listado de salas -->
    <h5>Salas existentes</h5>
    <ul class="list-group">
        {% for sala in salas %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ sala.numero }} - {{ sala.alias }}
            <form method="POST" style="margin: 0;">
                <input type="hidden" name="accion" value="eliminar">
                <input type="hidden" name="sala_id" value="{{ sala.id_sala }}">
                <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
            </form>
        </li>
        {% else %}
        <li class="list-group-item">No hay salas registradas.</li>
        {% endfor %}
    </ul>
    <div class="mt-4">
        <a href="{{ url_for('administrador_bp.panel_principal') }}" class="btn btn-secondary">← Volver al panel</a>
    </div>

{% endblock %}

