/* Licitaciones Module Styles */

.page-container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 2.5rem;
}

/* Main Content Area */
.main-page-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
